In [1]:
#week 3 Python CSV Module

In [3]:
"""
    Using the csv module
"""

'\n    Using the csv module\n'

In [7]:
import csv #import the python module

In [6]:
def parse(csvfilename):
    """
    
    Reads CSV file named csvfilename, parese
    it's contains and returns the data within
    the file as a list of lists
    """
    table = []
    with open(csvfilename, "r") as csvfile:
        csvreader = csv.reader(csvfile, skipinitialspace=True)
        for row in csvreader:
            table.append(row)
    return table

In [22]:
def print_table(table):
    """
    Print out the table, which muist be a list
    of Lists, in a nicely formatted way
    """
    for row in table:
        "Header columns left justified"
        print("{:<19}".format(row[0], end=''))
        #Remining columns right justified
        for col in row[1:]:
            print("{:>4}".format(col),end='')
        print("", end='\n')

In [23]:
path_to_data = r"C:\Users\abhikuma\Desktop\Abhishek-CourseEra\Python-Scriptiing-Rice-University\Course-3-Python-Data-Analysis\notebooks\week-2-data\hightemp.csv"

In [24]:
table = parse(path_to_data)

In [25]:
print_table(table)

City
 Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec
Houston
  62  65  72  78  84  90  92  93  88  81  71  63
Baghdad
  61  66  75  86  97 108 111 111 104  91  75  64
Moscow
  21  25  36  50  64  72  73  70  59  46  34  25
San Francisco
  57  60  62  63  64  66  67  68  70  69  63  57
London
  43  45  50  55  63  68  72  70  66  57  50  45
Chicago
  32  36  46  59  70  81  84  82  75  63  48  36
Sydney
  79  79  77  73  68  64  63  64  68  72  75  79
Paris
  45  46  54  61  68  73  77  77  70  61  52  46
Tokyo
  46  48  54  63  70  75  82  84  79  68  59  52
Shanghai
  46  48  55  66  75  81  90  90  81  72  63  52

In [26]:
print("")

In [27]:
print("")

In [28]:
path_to_data = r"C:\Users\abhikuma\Desktop\Abhishek-CourseEra\Python-Scriptiing-Rice-University\Course-3-Python-Data-Analysis\notebooks\week-2-data\hightemp2.csv"

In [29]:
table2 = parse(path_to_data)

In [30]:
print_table(table2)

City
 Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec
Houston, USA
  62  65  72  78  84  90  92  93  88  81  71  63
Baghdad, Iraq
  61  66  75  86  97 108 111 111 104  91  75  64
Moscow, Russia
  21  25  36  50  64  72  73  70  59  46  34  25
San Francisco, USA
  57  60  62  63  64  66  67  68  70  69  63  57
London, England
  43  45  50  55  63  68  72  70  66  57  50  45
Chicago, USA
  32  36  46  59  70  81  84  82  75  63  48  36
Sydney, Australia
  79  79  77  73  68  64  63  64  68  72  75  79
Paris, France
  45  46  54  61  68  73  77  77  70  61  52  46
Tokyo, Japan
  46  48  54  63  70  75  82  84  79  68  59  52
Shanghai, China
  46  48  55  66  75  81  90  90  81  72  63  52

In [31]:
#####################################################################################

In [35]:
#CSV DictReader
MONTHS = ('Jan','Feb','Mar','Apr','May','Jun', 'Jul','Aug','Sep','Oct','Nov','Dec')

In [144]:
def dictparse(csvfilename,keyfield):
    """
    Reads CSV file named csvfilename, parese
    it's content and return the data within
    the file as a dictionary of dictionaries.
    """
    table = {}
    with open(csvfilename, "rt", newline='') as csvfile:
        csvreader = csv.DictReader(csvfile, skipinitialspace=True)
        for row in csvreader:
            table[row[keyfield]] = row
    return table

In [145]:
def print_table(table):
    """
    Print out table, which must be a dictionary
    of dictionaries, in a nicely formatted way.
    """
    print("City                ", end='  ')
    for month in MONTHS:
        print("{:<19}".format(month), end='')
    print("")
    for name, row in table.items():
        #Header column left justified
        print("{:<19}".format(name), end='')
        # Remaining columns right justified
        for months in MONTHS:
            print("{:>6}".format(row[month]), end='          ')
        print("",end="\n")

In [146]:
path_to_data = r"C:\Users\abhikuma\Desktop\Abhishek-CourseEra\Python-Scriptiing-Rice-University\Course-3-Python-Data-Analysis\notebooks\week-2-data\hightemp.csv"

In [148]:
table = dictparse(path_to_data,"City")

In [149]:
print_table(table)

City                  Jan                Feb                Mar                Apr                May                Jun                Jul                Aug                Sep                Oct                Nov                Dec
Houston                63              63              63              63              63              63              63              63              63              63              63              63
Baghdad                64              64              64              64              64              64              64              64              64              64              64              64
Moscow                 25              25              25              25              25              25              25              25              25              25              25              25
San Francisco          57              57              57              57              57              57              57              57              57              57              57              57
London                 45              45              45              45              45              45              45              45              45              45              45              45
Chicago                36              36              36              36              36              36              36              36              36              36              36              36
Sydney                 79              79              79              79              79              79              79              79              79              79              79              79
Paris                  46              46              46              46              46              46              46              46              46              46              46              46
Tokyo                  52              52              52              52              52              52              52              52              52              52              52              52
Shanghai               52              52              52              52              52              52              52              52              52              52              52              52

In [150]:
def dictparse(csvfilename, keyfield, separator, quote, quotestrategy):
    """
    Reads CSV file named csvfilename, parese
    it's content and return the data within
    the file as a dictionary of dictionaries.
    """
    table = {}
    with open(csvfilename, "rt", newline='') as csvfile:
        csvreader = csv.DictReader(csvfile,
                                   skipinitialspace=True,
                                   delimiter=separator,
                                   quotechar=quote,
                                   quoting=quotestrategy
                                  )
        for row in csvreader:
            table[row[keyfield]] = row
    return table, csvreader.fieldnames

In [151]:
def print_table(table, filenames):
    """
    Print out table, which must be a dictionary
    of dictionaries, in a nicely formatted way.
    """
    print("{:<19}".format(filenames[0]),end='')
    for field in fieldnames[1:]:
        print("{:>6}".format(field), end='')
    print("")
    for name, row in table.items():
        #Header column Left justified
        print("{:<19}".format(name), end='')
        # Remaining columns right justified
        for field in fieldnames[1:]:
            print("{:>6}".format(row[field]), end='')
        print("", end='\n')

In [152]:
table, fieldnames = dictparse(path_to_data,
                              'City',
                              ',',
                              '"',
                              csv.QUOTE_MINIMAL
                             )

In [153]:
print(fieldnames)

['City', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

#print_table(tablem, fieldnames)

#print_table(tablem, fieldnames)

In [154]:
print_table(table, fieldnames)

City                  Jan   Feb   Mar   Apr   May   Jun   Jul   Aug   Sep   Oct   Nov   Dec
Houston                62    65    72    78    84    90    92    93    88    81    71    63
Baghdad                61    66    75    86    97   108   111   111   104    91    75    64
Moscow                 21    25    36    50    64    72    73    70    59    46    34    25
San Francisco          57    60    62    63    64    66    67    68    70    69    63    57
London                 43    45    50    55    63    68    72    70    66    57    50    45
Chicago                32    36    46    59    70    81    84    82    75    63    48    36
Sydney                 79    79    77    73    68    64    63    64    68    72    75    79
Paris                  45    46    54    61    68    73    77    77    70    61    52    46
Tokyo                  46    48    54    63    70    75    82    84    79    68    59    52
Shanghai               46    48    55    66    75    81    90    90    81    72    63    52

In [155]:
path_to_data = r"C:\Users\abhikuma\Desktop\Abhishek-CourseEra\Python-Scriptiing-Rice-University\Course-3-Python-Data-Analysis\notebooks\week-2-data\hightemp2.csv"

In [156]:
table2, fieldnames2 = dictparse(path_to_data,
                                'City',
                                ',',
                                '"',
                                csv.QUOTE_NONNUMERIC
                               )

In [157]:
print_table(table2, fieldnames2)

City                  Jan   Feb   Mar   Apr   May   Jun   Jul   Aug   Sep   Oct   Nov   Dec
Houston, USA         62.0  65.0  72.0  78.0  84.0  90.0  92.0  93.0  88.0  81.0  71.0  63.0
Baghdad, Iraq        61.0  66.0  75.0  86.0  97.0 108.0 111.0 111.0 104.0  91.0  75.0  64.0
Moscow, Russia       21.0  25.0  36.0  50.0  64.0  72.0  73.0  70.0  59.0  46.0  34.0  25.0
San Francisco, USA   57.0  60.0  62.0  63.0  64.0  66.0  67.0  68.0  70.0  69.0  63.0  57.0
London, England      43.0  45.0  50.0  55.0  63.0  68.0  72.0  70.0  66.0  57.0  50.0  45.0
Chicago, USA         32.0  36.0  46.0  59.0  70.0  81.0  84.0  82.0  75.0  63.0  48.0  36.0
Sydney, Australia    79.0  79.0  77.0  73.0  68.0  64.0  63.0  64.0  68.0  72.0  75.0  79.0
Paris, France        45.0  46.0  54.0  61.0  68.0  73.0  77.0  77.0  70.0  61.0  52.0  46.0
Tokyo, Japan         46.0  48.0  54.0  63.0  70.0  75.0  82.0  84.0  79.0  68.0  59.0  52.0
Shanghai, China      46.0  48.0  55.0  66.0  75.0  81.0  90.0  90.0  81.0  72.0  63.0  52.0

In [158]:
path_to_data=path_to_data = r"C:\Users\abhikuma\Desktop\Abhishek-CourseEra\Python-Scriptiing-Rice-University\Course-3-Python-Data-Analysis\notebooks\week-2-data\hightemp3.csv"

In [165]:
table3, fieldnames3 = dictparse(path_to_data,
                                'City',
                                ' ',
                                "'",
                                csv.QUOTE_NONNUMERIC
                               )

In [166]:
print_table(table3, fieldnames3)

City                  Jan   Feb   Mar   Apr   May   Jun   Jul   Aug   Sep   Oct   Nov   Dec
Houston, USA         62.0  65.0  72.0  78.0  84.0  90.0  92.0  93.0  88.0  81.0  71.0  63.0
Baghdad, Iraq        61.0  66.0  75.0  86.0  97.0 108.0 111.0 111.0 104.0  91.0  75.0  64.0
Moscow, Russia       21.0  25.0  36.0  50.0  64.0  72.0  73.0  70.0  59.0  46.0  34.0  25.0
San Francisco, USA   57.0  60.0  62.0  63.0  64.0  66.0  67.0  68.0  70.0  69.0  63.0  57.0
London, England      43.0  45.0  50.0  55.0  63.0  68.0  72.0  70.0  66.0  57.0  50.0  45.0
Chicago, USA         32.0  36.0  46.0  59.0  70.0  81.0  84.0  82.0  75.0  63.0  48.0  36.0
Sydney, Australia    79.0  79.0  77.0  73.0  68.0  64.0  63.0  64.0  68.0  72.0  75.0  79.0
Paris, France        45.0  46.0  54.0  61.0  68.0  73.0  77.0  77.0  70.0  61.0  52.0  46.0
Tokyo, Japan         46.0  48.0  54.0  63.0  70.0  75.0  82.0  84.0  79.0  68.0  59.0  52.0
Shanghai, China      46.0  48.0  55.0  66.0  75.0  81.0  90.0  90.0  81.0  72.0  63.0  52.0

In [167]:
##########################################################
# Experimenting with CSV Metods-Part-1

In [168]:
def print_table(table):
    """
    Echo a 2D table to the console
    """
    for row in table:
        print(row)

In [190]:
def read_csv_file(file_name,file_delimeter):
    """
    Given a CSV file path and a delimeter as strings,
    read the data into a 2D table and return the table
    """
    with open(file_name, newline='') as csv_file:  # do not explicity close the file now
        csv_table = []
        csv_reader = csv.reader(csv_file,delimiter=file_delimeter)
        for row in csv_reader:
            csv_table.append(row)
    return csv_table

In [191]:
def csv_delimeter_examples():
    """
    Run some example of reading the CSV file using different delimeter options
    """
    number_table = read_csv_file("number_table.csv"," ")
    print_table(number_table)
    print()
    name_table = read_csv_file("number_table.csv", ",")
    print_table(name_table)

In [192]:
csv_delimeter_examples()

['1', '2', '3']
['4', '5', '6']
['7', '8', '9']
['10', '11', '12']

['1 2 3']
['4 5 6']
['7 8 9']
['10 11 12']

In [193]:
# Options for wrinting a CSV file

In [194]:
def write_csv_file(csv_table, file_name, file_delimeter, quoting_value):
    """
    Given a nest list csv_table, write the data into a
    CSV file with the name file_name
    """
    with open(file_name, 'w', newline=' ') as csv_file:
        csv_writer = csv.writer(csv_file, delimeter=file_delimeter, quoting=quoting_value)
        for row in csv_table:
            csv_writer.writerow(row)

In [197]:
def csv_quoting_examples():
    """
    Run some example of writing 2D table as CSV file usinng vairous quoting options  
    """
    name_table = read_csv_file("name_table.csv", ",")
    name_table.append([1,2,3])
    write_csv_file(name_table, "name_table_minimal.csv", ",", csv.QUOTE_MINIMAL)
    write_csv_file(name_table, "name_table_all.csv", ",", csv.QUOTE_ALL)
    write_csv_file(name_table, "name_table_nonnumeric.csv", ",", csv.QUOTE_NONNUMERIC)
    #write_csv_file(name_table, "name_table_none.csv", ",", csv.QUOTE_NONE)        # no escapechar is set for lots of quotes

In [201]:
#csv_quoting_examples()